@import '../../app.scss';

.AuthForm {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.Auth {
  // font-family: proxima-nova, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
