$color-primary : hsl(205, 87%, 29%);
$color-primary-dark : hsl(205, 100%, 21%);
$color-primary-light : hsl(205, 76%, 39%);

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.Nav{
  display: flex;
  align-items: center;
  height: 6rem;
  font-size: 1.4rem;
  // border-bottom: 1px solid grey;

  &__logo {
    margin-right: auto;
  }

  &__center {
    list-style: none;
    display: flex;
    flex: 0 0 50rem;
    margin-right: auto;
    justify-content: space-between;
    color: $color-primary-dark;
    font-weight: 600;
  }

  &__action {
    margin-right: 3rem;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 2rem;
  }
}

.Button {
  display: inline-block;
  background-color: $color-primary;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 10rem;
  text-decoration: none;
  font-size: 1.2rem;

  &__small {
    font-size: 0.9rem;
    font-weight: 600;
    border: 1px solid $color-primary;
    padding: 0.2rem 0.8rem;
    background-color: $color-primary-dark;
    width: 7rem;
  }
}

.Summary {
  height: 13rem;
  background-color: $color-primary;
  color: #fff;
  display: flex;
  justify-content: space-between;
  /* top | right | bottom | left */
  padding: 2rem 32rem 2em 15rem;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--label{
      text-transform: uppercase;
      font-size: 1rem;
    }

    &--value{
      font-size: 3rem;
      font-weight: 300;
    }
  }
}