$color-primary : hsl(205, 87%, 29%);
$color-primary-dark : hsl(205, 100%, 21%);
$color-primary-light : hsl(204, 54%, 39%);

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: 'Open Sans', sans-serif;
  // font-weight: 400;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

.Nav{
  display: flex;
  align-items: center;
  height: 6rem;
  font-size: 1.4rem;
  // border-bottom: 1px solid grey;

  &__logo {
    margin-right: auto;
    margin-left: 5rem;
    img {
      height: 5rem;
    }
  }

  &__center {
    list-style: none;
    display: flex;
    flex: 0 0 50rem;
    margin-right: auto;
    justify-content: space-between;
    color: $color-primary-dark;
    font-weight: 600;
  }

  &__action {
    margin-right: 3rem;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 2rem;
  }
}

.Button {
  display: inline-block;
  background-color: $color-primary;
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 10rem;
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: #fff;
    margin-right: 0.5rem;
  }

  &__small {
    font-size: 1.1rem;
    font-weight: 600;
    border: 1px solid $color-primary;
    padding: 0.2rem 0.8rem;
    background-color: hsl(210, 0, 0, 0.15);
    width: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-icon {
      height: 1.25rem;
      width: 1.25rem;
      fill: #fff;
    }
  }
}

.Summary {
  height: 13rem;
  background: linear-gradient(to right, $color-primary-light, $color-primary);
  color: #fff;
  display: flex;
  justify-content: space-between;
  /* top | right | bottom | left */
  padding: 2rem 32rem 2em 25rem;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--label{
      text-transform: uppercase;
      letter-spacing: 0.8px;
      color: #bbeefc;
      font-size: 1.4rem;
    }

    &--value{
      font-size: 3.6rem;
      // font-weight: 300;
      line-height: 1.6rem;
      letter-spacing: -0.2px;
    }
  }
}

.Header {
  font-size: 2rem;
  color: $color-primary-dark;
}

.Recent-Transactions {
  margin: 4rem 25rem;

  &__title {
    font-size: 2rem;
    color: $color-primary-dark;
  }

  &__body {
    display: flex;
    margin-top: 1rem;
  }
}

.Card {
  border: 1.5px solid hsl(210, 36%, 96%);
  border-radius: 0.8rem;
  box-shadow: 0 3px 0 0 hsl(210, 36%, 96%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;
  height: 15rem;
  font-size: 1.4rem;
  &:not(:last-child) {
    margin-right: 1em;
  }

  &__status {
    height: 2rem;
    padding: 0 1rem;
    border-radius: 1rem;
    &--warning {
      background-color: #F9EDC7;
      color: #63321C;
    }

    &--error {
      background-color: #FFE0E0;
      color: #6F2323;
    }

    &--success {
      background-color: #D2F0CD;
      color: #153311;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    &--name {
      color: #000;
      font-weight: 600;
      font-size: 1.6rem;
    }
    &--amount {
      font-size: 3rem;
      color: $color-primary-dark;
    }
    &--due {
      color: hsl(209, 23%, 60%);
    }

  }
  &__action {
    background-color: hsl(210, 36%, 96%);
    height: 3rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &--icon {
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 0.5rem;
    }
  }
}

.Transactions {
  margin: 4rem 25rem;

  & > p {
    font-size: 2rem;
    color: $color-primary-dark;
  }
}

.Table {
  table {
    border-spacing: 0;
    border: 1px solid hsl(210, 36%, 96%);

    thead {
      border-top-left-radius: 30rem;
      border-top-right-radius: 30rem;
      border-radius: 50px;
    }
    tr {
      &:last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    th,
    td {
      margin: 0;
      padding: 0.5rem;
      border-bottom: 1px solid hsl(210, 36%, 96%);
      padding: 1rem 2rem;

      :last-child {
        border-bottom: 0;
      }
    }

    th {
      text-transform: uppercase;
      background-color: hsl(210, 36%, 96%);
      font-size: 1.4rem;
      letter-spacing: 1px;
    }
  }
}