$color-primary : hsl(205, 87%, 29%);
$color-primary-dark : hsl(205, 100%, 21%);
$color-primary-light : hsl(204, 54%, 39%);

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: 'Open Sans', sans-serif;
  // font-weight: 400;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}


.Header {
  font-size: 2rem;
  color: $color-primary-dark;
}


.Transactions {
  margin: 4rem 25rem;

  & > p {
    font-size: 2rem;
    color: $color-primary-dark;
  }
}

