@import '../../../app.scss';

.Card {
  border: 1.5px solid $color-light-grey;
  border-radius: 0.8rem;
  box-shadow: 0 3px 0 0 $color-light-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;
  height: 15rem;
  font-size: 1.4rem;
  &:not(:last-child) {
    margin-right: 1em;
  }

  &__status {
    text-transform: capitalize;
    height: 2rem;
    padding: 0 1rem;
    border-radius: 1rem;
    &--warning {
      background-color: #f9edc7;
      color: #63321c;
    }

    &--error {
      background-color: #ffe0e0;
      color: #6f2323;
    }

    &--success {
      background-color: #d2f0cd;
      color: #153311;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    &--name {
      color: #000;
      font-weight: 600;
      font-size: 1.6rem;
    }
    &--amount {
      font-size: 3rem;
      color: $color-primary-dark;
    }
    &--due {
      color: hsl(209, 23%, 60%);
    }
  }
  &__action {
    background-color: $color-light-grey;
    height: 3rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &--icon {
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 0.5rem;
    }
  }
}
